body{
    
    background: lightskyblue;
    margin: 0;
}

#wrapper{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wrapper > * {
    margin-top: 2vh;
}

header {
    font-size: 3em;

}
#canvas{
<<<<<<< Updated upstream

    border: 2px solid black
=======
    width:600px;
    height: 450px;
    border: 2px solid green;
>>>>>>> Stashed changes
}