

body{
    
  background-image: url(./images/1200px-Dance_floor_2_by_harmon.jpg);
  background-repeat: no-repeat;
  background-size: 100%;

    margin: 0;
}

#title{
    height:60px;
    width:258px;
    background-image: url(./images/tet2.png);
    background-repeat:no-repeat;
    background-size: 100%;

}



#wrapper{
    /* height: 100vh; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wrapper > * {
    margin-top: 2vh;
}

header {
    font-size: 3em;
}
#canvas{
    border: 2px double rgba(168, 22, 22,0.70);
}
#wynik{
    font-size: 2em;
    color:rgb(196, 45, 45);
   font-family: 'Monoton',cursive;
}